bucket         = "REPLACE_WITH_TERRAFORM_STATE_BUCKET"
key            = "82ta/service-product/staging.tfstate"
region         = "ap-northeast-2"
encrypt        = true
dynamodb_table = "REPLACE_WITH_TERRAFORM_LOCK_TABLE"
